* {
    box-sizing: border-box;
}

:root {

    /**
    UI STYLES (you can add rules of your design kit)
     */
    --ui-unit: 4px;
    --ui-col: 40px;
    --ui-accent-color: #28b20d;
    --ui-secondary-color: #109ed5;
    --ui-white-color: #fff;
    --ui-black-color: #36454f;
    --ui-black-color-80: rgba(54, 69, 79, .8);
}

html {
    font-size: calc(var(--ui-unit) * 6);
}

body {
    background-color: var(--ui-black-color);
    font-family: 'VT323', monospace;
    color: var(--ui-white-color);
}
